@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


body {
  background-image: url(../src/img/index.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Playfair Display', serif;
}

/* LOGIN & REGISTER PAGE */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 40px 40px 40px;
  background: rgba(0, 0, 0, 0.461);
  border-radius: 10px;
  color: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.message {
  font-size: 16px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit {
  width: 100%;
  padding: 10px;
  background-color: #8dbd12;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signin {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.signin a {
  color: #95bd12;
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  box-shadow: 0px 4px 10px 5px rgb(69, 69, 69);
  background: rgba(0, 0, 0, 0.461) !important;

}

/* JUMBOTRON */
.jumbotron {
  margin-top: 5em;
  height: 15em;
  background-color: #80808056;
  box-shadow: 0px 0px 7px 0px rgb(109, 109, 109);
}
.mini-jumbotron {
  height: 100%;
  width: 65%;
  margin-top: 5em;
}
.mini-jumbotron h1 {
font-size:3.5em;
}
.article {
  margin-top: 5em;
  height: 18em;
  width: 62%;
  background-color: #80808056;
  box-shadow: 0px 4px 10px 5px rgb(69, 69, 69);
}

.columns {
  columns: auto 12rem;
  column-rule: dotted 2px white;
  column-gap: 100px;
}